# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Documentation

doc/*.aux
doc/*.glo
doc/*.idx
doc/*.log
doc/*.toc
doc/*.ist
doc/*.acn
doc/*.acr
doc/*.alg
doc/*.bbl
doc/*.blg
doc/*.dvi
doc/*.glg
doc/*.gls
doc/*.ilg
doc/*.ind
doc/*.lof
doc/*.lot
doc/*.maf
doc/*.mtc
doc/*.mtc1
doc/*.out
doc/*.synctex.gz
